<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="cordova-plugin-iosrtc"
		version="6.0.5">

	<name>iosrtc</name>
	<description>Cordova iOS plugin exposing the full WebRTC W3C JavaScript APIs</description>
	<author>eFace2Face, Inc. and BasqueVoIPMafia and Cordova-RTC</author>
	<license>MIT</license>
	<keywords>webrtc, ios</keywords>

	<info>
		cordova-plugin-iosrtc enables use of the JavaScript WebRTC APIs (as defined by the W3C) in iOS devices.
		Learn more at https://github.com/cordova-rtc/cordova-plugin-iosrtc
	</info>

	<engines>
		<engine name="cordova-ios" version=">=4.5.1" />
	</engines>

	<platform name="ios">

		<hook type="after_prepare" src="extra/hooks/iosrtc-swift-support.js" />

		<config-file target="config.xml" parent="/*">
			<feature name="iosrtcPlugin">
				<param name="ios-package" value="iosrtcPlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<!-- Permission notes -->
		<config-file parent="NSCameraUsageDescription" target="*-Info.plist">
			<string>This Application uses your camera to make video calls.</string>
		</config-file>
		<config-file parent="NSContactsUsageDescription" target="*-Info.plist">
			<string>This Application needs access to your contacts in order to be able to call them.</string>
		</config-file>
		<config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
			<string>This Application uses your microphone to make calls.</string>
		</config-file>
		<config-file parent="NSBluetoothAlwaysUsageDescription" target="*-Info.plist">
			<string>This Application uses your wireless headphones and microphone to make calls.</string>
		</config-file>

		<js-module src="dist/cordova-plugin-iosrtc.js" name="Plugin">
			<clobbers target="cordova.plugins.iosrtc" />
		</js-module>

		<!-- Bridging header for using ObjetiveC libraries in Swift -->
		<header-file src="src/cordova-plugin-iosrtc-Bridging-Header.h" />

		<!-- Project source files -->
		<source-file src="src/iosrtcPlugin.swift" />
		<source-file src="src/PluginRTCTypes.swift" />
		<source-file src="src/PluginRTCPeerConnection.swift" />
		<source-file src="src/PluginRTCPeerConnectionConfig.swift" />
		<source-file src="src/PluginRTCPeerConnectionConstraints.swift" />
		<source-file src="src/PluginRTCDataChannel.swift" />
		<source-file src="src/PluginRTCDTMFSender.swift" />
		<source-file src="src/PluginMediaStream.swift" />
		<source-file src="src/PluginMediaStreamTrack.swift" />
		<source-file src="src/PluginGetUserMedia.swift" />
		<source-file src="src/PluginEnumerateDevices.swift" />
		<source-file src="src/PluginUtils.swift" />
		<source-file src="src/PluginMediaStreamRenderer.swift" />
		<source-file src="src/PluginRTCAudioController.swift" />
		<source-file src="src/PluginRTCVideoCaptureController.swift" />

		<!-- iOS shared dependencies -->
		<framework src="AVFoundation.framework" />
		<framework src="CoreGraphics.framework" />
		<framework src="CoreMedia.framework" />
		<framework src="GLKit.framework" />
		<framework src="OpenGLES.framework" />
		<framework src="CoreVideo.framework" />
		<framework src="CoreAudio.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="AssetsLibrary.framework" />
		<framework src="MobileCoreServices.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="AudioToolbox.framework" />
		<framework src="libc++.dylib" />
		<framework src="libstdc++.dylib" />
		<framework src="libsqlite3.0.dylib" />
		<framework src="VideoToolbox.framework" />

		<!-- WebRTC library -->
		<framework src="lib/WebRTC.framework" custom="true" embed="true" />
	</platform>

</plugin>
